.navbar-nav {
    margin-left: auto;
}

.navbar {
    background-color: #F5B60C;
}

/* prihlasovanie*/
#loginForm {
    margin: 12% auto;

}

label {
    font-size: large;
}

#btnLogin {
    margin: auto;
    position: absolute;
    left: 25%;
    transform: translate(-50%, 0);

    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

#btnLogin:hover {
    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

/*grid*/
.item {
    text-align: center;
    border-radius: 10%;
    /*margin: 0 30%;*/
}

i {
    font-size: 1000%;
    margin-top: 15%;
}

.fas.fa-exclamation-circle {
    margin: 20px;
}

#updateInfoForm {
    width: 80%;
    margin: auto;
}

#btnUpdateInfo {
    margin-left: 50%;
    margin-top: 10px;
    transform: translate(-50%,0%);

    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

#btnUpdateInfo:hover {

    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

#btnLogout {
    margin: 10px;
    margin-left: 95%;

    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

#btnLogout:hover {
    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

#btnDeleteUser {
    margin-left: 50%;
    margin-top: 10px;
    transform: translate(-50%,0%);

    color: black;
    background-color: red;
    border-color: red;
}

#btnDeleteUser:hover {

    color: black;
    background-color: red;
    border-color: red;
}

#loginAndRegistration {
    width: 90%;
    margin: auto;
}
#registrationForm {
    margin: 5% auto;
}

#login, #password {
    max-width: 500px;
}

#btnRegister {
    margin: auto;
    position: absolute;
    left: 72%;
    transform: translate(-50%, 0);

    color: black;
    background-color: #F5B60C;
    border-color: #F5B60C;
}

